
# python virtual environment
py_venv
act.bat
dea.bat

# vscode
.vscode

# some specific files
test.py

# FaceRecognizer
FaceRecognizer/data/Face_Database
FaceRecognizer/data/test_img
FaceRecognizer/data/*.pkl
FaceRecognizer/__pycache__